/* ==================================================== General ==================================================== */
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    line-height: 25px;
}

.centered {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header {
    padding: 30px;
    font-size: 2rem;
    text-align: center;
}

.navbar {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    padding: 16px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.overlay {
    background-color: rgb(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.5);
    height: 100%;
}

.wrapper {
    width: 75vw;
    margin: 0 auto;
    text-align: center;
}

#logo {
    float: left;
}

@media (max-width: 700px) {
    .wrapper {
        width: 85vw;
    }
}

/* ==================================================== Buttons ==================================================== */
.button {
    display: inline-block;
    width: 130px;
    height: 50px;
    margin: 20px auto;
    padding: auto;
    background-color: #59baa3;
    border-color: #59baa3;
    border-radius: 8px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #fff;
    color: #59baa3;
    cursor: pointer;
}

#select-skills-btn {
    width: 140px;
    margin: 50px auto 24px auto;
}

#user-selection-btn,
#profile-btn {
    margin: 0 auto 20px auto;
}

#personal-profile-btn-1 {
    width: 160px;
    margin: 15px auto 10px auto;
}

#personal-profile-btn-2 {
    width: 160px;
    margin: 0 auto;
}

/* ==================================================== Home.js ==================================================== */
#home {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: url("images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ccc;
}

#home h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 8rem;
}

#home h3 {
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
}

#intro {
    width: 30%;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
}

#team {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    font-family: "Abril Fatface", cursive;
    font-size: 0.8rem;
    opacity: 0.35;
}

@media (min-width: 901px) and (max-width: 1100px) {
    #intro {
        width: 40%;
        font-size: 1.1rem;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    #intro {
        width: 50%;
    }
}

@media (max-width: 700px) {
    #home h1 {
        font-size: 6rem;
    }
    
    #home h3 {
        font-size: 1.8rem;
    }
    
    #intro {
        width: 60%;
        font-size: 1.1rem;
    }
    
    #team {
        font-size: 0.8rem;
    }
}

/* ============================================= Skills.js / Skill.js ============================================== */
.skills-content {
    margin: 0 auto;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: minmax(240px, auto);
    grid-gap: 45px;
}

.skills-panel {
    background-color: #ccc;
    box-shadow: 10px 10px 5px #aaa;
    font-size: 1.8rem;
}

.skills-panel:hover {
    cursor: pointer !important;
    transform: scale(1.1) !important;
}

/* ========================================== UserSelection.js / User.js =========================================== */
.user-selection {
    padding: 8px;
}

.user-panel {
    margin-bottom: 30px;
    padding: 40px 10px;
    background-color: #ccc;
    box-shadow: 10px 10px 5px #aaa;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 15px;
    grid-template-areas: "picture description"
}

.user-panel:hover {
    cursor: pointer !important;
    transform: scale(1.03) !important;
}

.user-pic img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    grid-area: picture;
}

.user-desc {
    padding-right: 50px;
    text-align: left;
    grid-area: description;
}

.user-desc h1 {
    font-size: 2rem;
}

.user-desc h3 {
    font-size: 1.5rem;
}

.user-desc h5 {
    margin-top: 15px;
    font-size: 1.1rem;
}

.user-desc p {
    font-size: 1rem;
}

@media (max-width: 800px) {
    .user-panel {
        padding: 40px 30px;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        grid-template-areas: "picture"
                             "description";
    }

    .user-desc {
        padding-right: 0;
        text-align: center;
    }

    .user-desc h1 {
        font-size: 1.5rem;
    }

    .user-desc h3 {
        font-size: 1.3rem;
    }
}

/* ================================================= Dashboard.js ================================================== */
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas: "profile profile awards"
                         "contacts events events"
                         "recommendations recommendations recommendations";
}

.dashboard > div {
    border: 5px solid lightblue;
}

.section {
    padding: 10px;
    display: grid;
    grid-auto-rows: 60px minmax(60px, auto);
    grid-template-areas: "title"
                         "content";
}

.section-title {
    padding: 10px;
    grid-area: title;
}

#awards {
    grid-area: awards;
}

#contacts {
    grid-area: contacts;
}

#events {
    grid-area: events;
}

#recommendations {
    grid-area: recommendations;
}

.contact-panel:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.contacts > a {
    text-decoration: none;
    color: black;
}

.event-panel:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.award:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.skills-panel:hover {
    cursor: pointer !important;
    background-color: lightgreen !important;
}

#upcoming-events:hover {
    cursor: pointer;
    color: black;
}
#this-week:hover {
    cursor: pointer;
    color: black;
}
#this-month:hover {
    cursor: pointer;
    color: black;
}
#past-events:hover {
    cursor: pointer;
    color: black;
}


/* =================== Personal Profile =================== */
.personal-profile {
    padding: 10px;
    grid-area: profile;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 60px minmax(80px, auto);
    grid-template-areas: "picture title"
                         "picture notifications";
}

.personal-pic {
    padding-top: 10px;
    text-align: center;
    grid-area: picture;
}

.personal-pic img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}

.notifications {
    padding: 10px;
    grid-area: notifications;
}

.notification-panel {
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "picture description time"
}

.notification-pic {
    text-align: center;
}

.notification-pic img {
    max-height: 100%;
    width: auto;
    border-radius: 50%;
    grid-area: picture;
}

.notification-desc {
    margin: auto 0;
    text-align: left;
    grid-area: description;
}

.notification-time {
    margin: auto 0;
    padding-right: 10px;
    text-align: right;
    grid-area: time;
}

/* ======================== Awards ======================== */
.awards {
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
}

.award {
    background-color: #ccc;
}

/* ======================= Contacts ======================= */
.contacts {
    padding: 10px;
}

.contact-panel {
    margin-bottom: 30px;
    padding: 20px 10px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "picture description"
}

.contact-pic img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    grid-area: picture;
}

.contact-desc {
    padding-right: 50px;
    text-align: left;
    grid-area: description;
}

/* ======================== Events ======================== */
.events {
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "sidebar window";
}

.events-sidebar {
    padding: 20px;
    background-color: #59baa3;
    color: #fff;
    grid-area: sidebar;
}

.events-sidebar h3,
.events-sidebar hr {
    margin-bottom: 20px;
}

.events-window {
    padding: 20px;
    border: 5px solid #59baa3;
    grid-area: window;
}

.event-panel {
    margin-bottom: 30px;
    padding: 20px 10px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "picture description"
}

.event-pic img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    grid-area: picture;
}

.event-desc {
    padding-right: 50px;
    text-align: left;
    grid-area: description;
}

/* =================== Recommendations ==================== */
.recommendations {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 100px;
}

.recommendation {
    background-color: #ccc;
}

/* ======================================================== */
@media (max-width: 800px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 20px;
        grid-template-areas: "profile"
                             "awards"
                             "contacts"
                             "events"
                             "recommendations";
    }

    .recommendations {
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 20px;
    }
}

/* ================================================== Profile.js =================================================== */
.profile {
    padding: 8px;
}

.profile-panel {
    padding: 20px 40px 40px 40px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas: "button"
                         "picture"
                         "bio"
                         "description";
}

.profile-button {
    text-align: right;
    grid-area: button;

}

.profile-pic img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    grid-area: picture;
}

.profile-bio {
    text-align: center;
    grid-area: bio;
}

.profile-bio h1 {
    font-size: 2rem;
}

.profile-bio h3 {
    font-size: 1.5rem;
}

.profile-bio h5 {
    margin-top: 15px;
    font-size: 1.1rem;
}

.profile-desc {
    text-align: center;
    grid-area: description;
}

.profile-desc p {
    margin: 0;
    font-size: 1rem;
}

#profile {
    width: 50vw;
}

@media (max-width: 800px) {
    .profile-panel {
        padding: 20px 40px 40px 40px;
        background-color: #ccc;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        grid-template-areas: "picture"
                             "bio"
                             "button"
                             "description";
    }

    .profile-button {
        text-align: center;
    }

    .profile-bio h1 {
        font-size: 1.5rem;
    }

    .profile-bio h3 {
        font-size: 1.3rem;
    }

    #profile {
        width: 85vw;
    }

    #profile-btn {
        margin: 0 auto;
    }
}

/* =============================================== Relationships.js ================================================ */
#relationships {
    display: grid;
    width: 100%;
    grid-template: "chat calendar" 1fr / 1fr 1fr;
}

#chat {
    grid-area: chat;
    display: grid;
    width: 100%;
    grid-template: "connections chatBox" 1fr / 1fr 3fr;
}

#connections {
    grid-area: connections;
    overflow-x: hidden;
    overflow-y: scroll;
}

#connections .connection:nth-child(odd) {
    background: #eee;
}

.connection {
    padding: 10px;
    cursor: pointer;
}

.connection:hover, #connections .connection:nth-child(odd):hover {
    background: #ccc;
}

#chatBox {
    grid-area: chatBox;
}

#messages {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 101px);
  }
  
.message {
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom-right-radius: 30px;
}

.message.other {
    background: #eee;
    float: left;
}

.message.own {
    float: right;
    background: #0084ff;
    color: #fff;
}

#messageBox {
    height: 50px;
}

#messageBox {
    display: flex;
    width: 100%
}

#message {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

#send {
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    margin-left: -1px;
}

#send:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

#calendar {
    grid-area: calendar;
}
