<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head><% include partials/template/head.ejs %></head>
    <body>
        <% include partials/template/header.ejs %>

        <div class='grid'>
            <div class='profile'>Profile</div>
            <div class='skills'>Skills</div>
            <div class='contact'>contact</div>
            <div class='events'>events</div>
            <div class='recommendations'>Recommended</div>
        </div>

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
