<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/template/header.ejs %>

        <div class="wrapper" id="profile">
            <article class="profile-content">
                <div class="profile-panel">
                    <div class="profile-button">
                        <a href="#"><button class="button" id="profile-btn">Contact John</button></a>
                    </div>

                    <div class="profile-pic">
                        <img src="images/user.png">
                    </div>

                    <div class="profile-bio">
                        <h1>John Doe</h1>
                        <h3>20 / Male / Melbourne</h3>
                        <h5>Skills: Facebook, Twitter</h5>
                    </div>

                    <div class="profile-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
