<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/template/header.ejs %>

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
