<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Find Mentors</title>
    <style media="screen">
        .grid {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 15px;
            grid-row-gap: 50px;
            margin-top: 50px;
        }

        .title {
            text-align: center;
        }

        .confirmBtn {
            margin-top: 150px;
            margin-bottom: 150px;
            text-align: center;
        }

        button {
            width: 400px;
            height: 75px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<h1><a href="/">Home(logo)</a></h1>
<h1 class="title">Title</h1>
<hr>
<div class="grid">
    Hello World!
</div>
<div class='confirmBtn'>
    <a href="#"><button type="button" name="button">Confirm</button></a>
</div>
</body>
</html>
