<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/template/head.ejs %>
        <script>
            var chats = <%- JSON.stringify(chats) %>.chats;
            var connections = <%- JSON.stringify(connections) %>.connections;
        </script>
        <script src="/js/relationships.js" defer></script>
    </head>
    <body>
        <% include partials/template/header.ejs %>
        <div id="relationships">
            <div id="chat">
                <div id="connections">

                </div>
                <div id="chatBox">
                    <div id="messages">

                    </div>
                    <div id="messageBox">
                        <textarea id="message"></textarea>
                        <button id="send" onclick="readMessage()">Send</button>
                    </div>
                </div>

            </div>
            <div id="calendar">

            </div>
        </div>

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
