<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/template/header.ejs %>

        <div class="wrapper">
            <header class="header">Pick what you want to learn:</header>

            <article class="skills-content">
                <div class="skills-panel centered">
                    Facebook
                </div>

                <div class="skills-panel centered">
                    Twitter
                </div>

                <div class="skills-panel centered">
                    Instagram
                </div>

                <div class="skills-panel centered">
                    LinkedIn
                </div>

                <div class="skills-panel centered">
                    Tablet
                </div>

                <div class="skills-panel centered">
                    iPhone
                </div>
            </article>

            <a href="find-mentor"><button class="button" id= "select-skills-btn">Find a Mentor</button></a>
        </div>

        <footer><% include partials/template/footer.ejs %></footer>

        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>
