<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bunji</title>
    <style media="screen">
      body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
      }
    </style>
  </head>
  <body>
    <div>FaceBook</div>
    <div>Twitter</div>
    <div>Instagram</div>
    <div>LinkedIn</div>
    <div>Tablet</div>
    <div>iPhone</div>
  </body>
</html>
