#countdown {
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

#countdown>div {
    /* background-color: #00bf96; */
    background-color: rgb(31, 153, 164);
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

#countdown>div span {
    /* background-color: #00816a; */
    background-color: rgb(12, 95, 105);
    border-radius: 3px;
    display: inline-block;
    font-size: 2rem;
    padding: 15px;
    width: 70px;
}

#countdown>div div {
    font-size: 1rem;
    padding-top: 5px;
}

@media (max-width: 1000px) {
    #intro {
        width: 50%;
    }
}

@media (max-width: 500px) {
    #countdown>div span {
        font-size: 1.3em;
    }
    #countdown>div div {
        font-size: 0.7rem;
    }
    #intro {
        font-size: 0.9rem;
        width: 75%;
    }
    #home h1 {
        font-size: 5.3rem;
    }
    #home h3 {
        font-size: 1.3rem;
    }
    #team {
        font-size: 0.7rem;
    }
}

@media (max-width: 350px) {
    #intro {
        font-size: 0.8rem;
    }
    #home h1 {
        font-size: 4rem;
    }
}

@media (min-width: 501px) {
    .break {
        display: none;
    }
}